.inputName {
    padding: 8px;
    border-radius: 6px;
    border: 1px grey solid;
    margin-right: 17px;
}

.inputStyle {
    padding: 8px;
    border-radius: 6px;
    border: 1px grey solid;
    margin-top: 16px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
}

.passwordInfo {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

.invalid{
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: red;
}
