.knowMoreBtn {
    color: white;
    background-color: #8037F7;
    border-radius: 5px;
    padding: 15px 47px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    margin-top: 14px;
    font-family: 'Inter', sans-serif;
}