.blueHeader {
    background-color: #63BAAA;
    height: 250px;
    position: relative;
    padding: 40px 200px 0px 370px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.sticky {
    position: fixed;
    top: -250px;
}

.blueHeaderBtns {
    display: flex;
    margin-top: 70px;
}