.button {
    background-color: #63BAAA;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 10px 25px;
    margin-bottom: 20px;
    cursor: pointer;
}