.imageContainer {
    position: relative;
    height: 100%;
    width: 100%;
 }

.imageContainer::before {
    content: "";
    background-image: url(../../../../Assets/teacher.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.title {
    font-size: 27px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    color: black;
    padding-right: 123px;
    text-transform: uppercase;
}

.titleAndBtn {
    position: relative;
    margin-right: 522px;
    padding: 87px 150px;
}