.containerModal {
    position: absolute;
    background-color:  #808080ad;
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background-color:white;
    width: 449px;
    height: 349px;
    display: flex;
    flex-direction: row;
}

.yellowContainer {
    background-color: #FFDE6A;
    width: 29%;
    height: 319px;
    padding: 30px 30px 0px 30px;
}

.line {
    margin: 14px 0px 0px 0px;
    background-color: #8037F7;
    width: 90px;
    height: 4px;
}

.title {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.closeBtn {
    position: absolute;
    right: 0;
    border: none;
    background-color: white;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.inputStyle {
    padding: 8px;
    border-radius: 6px;
    border: 1px grey solid;
    margin-top: 16px;
    width: 93%;
}

.inputContainer {
    display: flex;
    padding: 50px 30px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin: 0px;
    font-weight: bold;
}

.invalid{
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: red;
}