.container {
    display: flex;
    margin: 60px 150px;
}

.subtitle {
    color: grey;
    text-align: center;
    margin: 0;
}

.subtitleMiddle {
    color: grey;
    text-align: center;
    margin: 0;
    padding: 0px 54px;
}