.overviewInfoContainer {
    display: flex;
    border-top: 1px solid rgb(227, 219, 219);
    border-bottom: 1px solid rgb(227, 219, 219);
    padding: 20px 0px;
    margin-bottom: 60px;
    justify-content: space-around;
}

.studentsContainer {
    margin-left: 60px;
}

.curseViewersContainer {
    border: 1px solid rgb(227, 219, 219);
    border-radius: 10px;
    padding: 20px 30px 0px;
    width: 360px;
    margin-bottom: 10px;
    height: 170px;
}

.curseViewers {
    display: flex;
}

.videoImage {
    width: 150px;
    height: 80px;
    background-color: blueviolet;
}

.totalviewsInfo {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: rgba(128, 128, 128, 0.842);
    text-align: center;
}

.curseLine {
    width: 1px;
    background-color: rgb(227, 219, 219);
    margin: 0px 30px 30px 30px;
}

.viewsNums {
    font-size: 20px;
    color: rgb(106, 100, 100);
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.ageContent {
    display: flex;
}

.avarageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 28px;
}

.avarageContainer {
    border: 1px solid rgb(227, 219, 219);
    border-radius: 10px;
    padding: 20px;
    width: 314px;
    margin-bottom: 10px;
    height: 100px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-top: 0;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
}

.titleVideo {
    margin-bottom: 0;
}

.principalTitle {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
}